* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: url(./assets/background.jpg) no-repeat center/cover;
    text-align: center;
    padding-top: 160px;
    color: #EBF1FB;

    /*center elements*/
    display: grid;
    place-content: center;

    height: 100vh;
    font-family: 'Spectral',sans-serif ;
}

h1 span {
    color: #5EEAD4;
}

a:hover,
.button {
    background: #5EEAD4;
    color: #0B0C0E;
    border-radius: 8px;
    text-decoration: none;
}

.button:hover {
    background: #AAEEE4;
}

a {
    font-weight: 600;
    padding: 16px 32px;
    font-size: 24px;
    line-height: 24px;
    color: #EBF1FB;
}

h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 120px;
    font-family: 'Beth Ellen', cursive;
}

p {
    font-family: 'Spectral', sans-serif;
    font-weight: 500;
    color: #EBF1FB;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 72px;
}
