* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url(./assets/background.png);
    text-align: center;
    padding-top: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;

    font-family: 'Inter',sans-serif ;
}

span {
    color: #DB2777;
}

.button {
    margin: 0;
    background: #DB2777;
    color: white;
    border-radius: 25px;
}


a {
    font-weight: 700;
    padding: 12px 32px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #151718;
}

a:hover,
.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #DB2777;
    border-radius: 25px;
}

h1 {
    font-weight: 400;
    color: #151718;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Cinzel', cursive;
}

h2 {
    font-family: Regular, 'sans-serif';
    font-weight: 100;
    color: #2C2E2F;
    margin-bottom: 72px;
}
